## Script to connects to the database

In [87]:
import pandas as pd
import pyodbc

In [88]:
conn = pyodbc.connect(
       'DRIVER={ODBC Driver 17 for SQL Server}' + 
       ';SERVER=' + 'localhost,1401' + ';UID=' + 'sa' + 
       ';PWD=' + '@adnans123' +
       ';database=' + 'TaskDB')

df = pd.read_sql('Select * from Products', conn)

conn.commit()
conn.close()

df

C:\Users\umair\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

      productid    brand  RAM_GB  HDD_GB  GHz   price
0           394  Samsung      16    1000  3.2   90900
1           828   Lenovo       8    2000  2.5   51900
2           995     Acer       4    1000  2.3   44900
3          1009       HP       4     500  2.3   42900
4          1093     Acer       8    2000  2.3   58900
...         ...      ...     ...     ...  ...     ...
6484     998890    Apple       4    2000  1.8  106900
6485     998992     asus      16     500  3.0   67900
6486     999168     Acer       8    2000  2.3   49900
6487     999618    Apple       4    1000  1.8   97900
6488     999942     asus      16    2000  3.2   90900

[6489 rows x 6 columns]

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6489 entries, 0 to 6488
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   productid  6489 non-null   int64
 1   brand      6489 non-null   object
 2   RAM_GB     6489 non-null   int64
 3   HDD_GB     6489 non-null   int64
 4   GHz        6489 non-null   float64
 5   price      6489 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 304.3+ KB

#### Calculate Minimum and Maximum Value for column HDD_GB

In [90]:
df['HDD_GB'].max()

2000

In [91]:
df['HDD_GB'].min()

500

#### Median of column “GHz”, grouped by column “RAM_GB” and save in csv

In [92]:
m = df.groupby('RAM_GB')['GHz'].apply(np.median)
m.name = 'MEDIAN'
df.join(m, on=['RAM_GB']).to_csv('median.csv', sep='\t')

#### Ranks based on column “Price”, grouped by column “brand” and save in csv

In [95]:
df['rank'] = df.sort_values(by=['brand', 'price']).groupby('brand')['price'].apply(lambda x: x.rank(method="dense"))

In [94]:
df.to_csv('rank.csv', sep='\t')